{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block title %}
    MAIN APPS
{% endblock title %}

{% block contents %}
<div class="row">
    {% for i in data %}
    <div class="col-sm-2 mt-2">
        <div class="card bg-light">
            <h5 class="card-header">PC No.{{forloop.counter}}</h5>
            <div class="card-body">
                <p class="card-text">IP ADDRESS : {{i.ip_addr}}</p>
                <p class="card-text">MAC : {{i.mac_addr}}</p>
                <p class="card-text">Status : {{i.isAlive}}</p>
                <div class="btn-group-vertical">
                    <form class="p-1" action="{% url 'Main_App:add_action' i.mac_addr 'wifi' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">WIFI</button>
                    </form>
                    <form class="p-1" action="{% url 'Main_App:add_action' i.mac_addr 'restart' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">RESTART</button>
                    </form>
                    <form class="p-1" action="{% url 'Main_App:add_action' i.mac_addr 'shutdown' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">SHUTDOWN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock contents %}

{% block scripts %}

{% endblock scripts %}